node_modules
.idea
.env
.DS_Store

#Hardhat files
cache
artifacts
contracts/.deps

# contract build files
contracts/.deps
contracts/artifacts

# Config Deployment (don't share your private keys)
hardhat.config.js